# coding: utf-8

"""
    Machship API V2

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: V2
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class PendingConsignmentsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def apiv2_pending_consignments_create_pending_consignment_post(self, **kwargs):  # noqa: E501
        """Creates a pending consignment in Machship  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apiv2_pending_consignments_create_pending_consignment_post(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreatePendingConsignmentV2 body: Details of the pending consignment to create
        :return: CreatePendingConsignmentResponseBaseDomainEntityV2
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.apiv2_pending_consignments_create_pending_consignment_post_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.apiv2_pending_consignments_create_pending_consignment_post_with_http_info(**kwargs)  # noqa: E501
            return data

    def apiv2_pending_consignments_create_pending_consignment_post_with_http_info(self, **kwargs):  # noqa: E501
        """Creates a pending consignment in Machship  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apiv2_pending_consignments_create_pending_consignment_post_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreatePendingConsignmentV2 body: Details of the pending consignment to create
        :return: CreatePendingConsignmentResponseBaseDomainEntityV2
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method apiv2_pending_consignments_create_pending_consignment_post" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['User API Token']  # noqa: E501

        return self.api_client.call_api(
            '/apiv2/pendingConsignments/createPendingConsignment', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CreatePendingConsignmentResponseBaseDomainEntityV2',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def apiv2_pending_consignments_delete_pending_consignments_post(self, **kwargs):  # noqa: E501
        """Deletes the specified Pending Consignments in Machship  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apiv2_pending_consignments_delete_pending_consignments_post(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] body: Ids of the pending consignments to be deleted
        :return: EmptyDomainEntityV2
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.apiv2_pending_consignments_delete_pending_consignments_post_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.apiv2_pending_consignments_delete_pending_consignments_post_with_http_info(**kwargs)  # noqa: E501
            return data

    def apiv2_pending_consignments_delete_pending_consignments_post_with_http_info(self, **kwargs):  # noqa: E501
        """Deletes the specified Pending Consignments in Machship  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apiv2_pending_consignments_delete_pending_consignments_post_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] body: Ids of the pending consignments to be deleted
        :return: EmptyDomainEntityV2
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method apiv2_pending_consignments_delete_pending_consignments_post" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['User API Token']  # noqa: E501

        return self.api_client.call_api(
            '/apiv2/pendingConsignments/deletePendingConsignments', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='EmptyDomainEntityV2',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def apiv2_pending_consignments_get_pending_consignment_get(self, **kwargs):  # noqa: E501
        """Get Pending Consignment Details for a single pending consignment  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apiv2_pending_consignments_get_pending_consignment_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id:
        :return: PendingConsignmentV2BaseDomainEntityV2
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.apiv2_pending_consignments_get_pending_consignment_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.apiv2_pending_consignments_get_pending_consignment_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def apiv2_pending_consignments_get_pending_consignment_get_with_http_info(self, **kwargs):  # noqa: E501
        """Get Pending Consignment Details for a single pending consignment  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apiv2_pending_consignments_get_pending_consignment_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id:
        :return: PendingConsignmentV2BaseDomainEntityV2
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method apiv2_pending_consignments_get_pending_consignment_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['User API Token']  # noqa: E501

        return self.api_client.call_api(
            '/apiv2/pendingConsignments/getPendingConsignment', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PendingConsignmentV2BaseDomainEntityV2',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def apiv2_pending_consignments_get_recently_created_or_updated_pending_consignments_get(self, **kwargs):  # noqa: E501
        """apiv2_pending_consignments_get_recently_created_or_updated_pending_consignments_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apiv2_pending_consignments_get_recently_created_or_updated_pending_consignments_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int company_id:
        :param datetime from_date_utc:
        :param datetime to_date_utc:
        :param int start_index:
        :param int retrieve_size:
        :param int carrier_id:
        :param bool include_child_companies:
        :param bool get_deleted:
        :return: PendingConsignmentV2ForListGridDomainEntityV2
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.apiv2_pending_consignments_get_recently_created_or_updated_pending_consignments_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.apiv2_pending_consignments_get_recently_created_or_updated_pending_consignments_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def apiv2_pending_consignments_get_recently_created_or_updated_pending_consignments_get_with_http_info(self, **kwargs):  # noqa: E501
        """apiv2_pending_consignments_get_recently_created_or_updated_pending_consignments_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apiv2_pending_consignments_get_recently_created_or_updated_pending_consignments_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int company_id:
        :param datetime from_date_utc:
        :param datetime to_date_utc:
        :param int start_index:
        :param int retrieve_size:
        :param int carrier_id:
        :param bool include_child_companies:
        :param bool get_deleted:
        :return: PendingConsignmentV2ForListGridDomainEntityV2
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['company_id', 'from_date_utc', 'to_date_utc', 'start_index', 'retrieve_size', 'carrier_id', 'include_child_companies', 'get_deleted']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method apiv2_pending_consignments_get_recently_created_or_updated_pending_consignments_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'company_id' in params:
            query_params.append(('companyId', params['company_id']))  # noqa: E501
        if 'from_date_utc' in params:
            query_params.append(('fromDateUtc', params['from_date_utc']))  # noqa: E501
        if 'to_date_utc' in params:
            query_params.append(('toDateUtc', params['to_date_utc']))  # noqa: E501
        if 'start_index' in params:
            query_params.append(('startIndex', params['start_index']))  # noqa: E501
        if 'retrieve_size' in params:
            query_params.append(('retrieveSize', params['retrieve_size']))  # noqa: E501
        if 'carrier_id' in params:
            query_params.append(('carrierId', params['carrier_id']))  # noqa: E501
        if 'include_child_companies' in params:
            query_params.append(('includeChildCompanies', params['include_child_companies']))  # noqa: E501
        if 'get_deleted' in params:
            query_params.append(('getDeleted', params['get_deleted']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['User API Token']  # noqa: E501

        return self.api_client.call_api(
            '/apiv2/pendingConsignments/getRecentlyCreatedOrUpdatedPendingConsignments', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PendingConsignmentV2ForListGridDomainEntityV2',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def apiv2_pending_consignments_return_pending_consignments_by_reference1_post(self, **kwargs):  # noqa: E501
        """Get Pending Consignment Details for multiple pending consignments using Reference 1 as the lookup. Maximum of 10 per request  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apiv2_pending_consignments_return_pending_consignments_by_reference1_post(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] body: The Reference 1's of the pending consignments. Maximum of 10 consignments per request
        :return: PendingConsignmentV2ICollectionBaseDomainEntityV2
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.apiv2_pending_consignments_return_pending_consignments_by_reference1_post_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.apiv2_pending_consignments_return_pending_consignments_by_reference1_post_with_http_info(**kwargs)  # noqa: E501
            return data

    def apiv2_pending_consignments_return_pending_consignments_by_reference1_post_with_http_info(self, **kwargs):  # noqa: E501
        """Get Pending Consignment Details for multiple pending consignments using Reference 1 as the lookup. Maximum of 10 per request  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apiv2_pending_consignments_return_pending_consignments_by_reference1_post_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] body: The Reference 1's of the pending consignments. Maximum of 10 consignments per request
        :return: PendingConsignmentV2ICollectionBaseDomainEntityV2
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method apiv2_pending_consignments_return_pending_consignments_by_reference1_post" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['User API Token']  # noqa: E501

        return self.api_client.call_api(
            '/apiv2/pendingConsignments/returnPendingConsignmentsByReference1', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PendingConsignmentV2ICollectionBaseDomainEntityV2',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def apiv2_pending_consignments_return_pending_consignments_by_reference2_post(self, **kwargs):  # noqa: E501
        """Get Pending Consignment Details for multiple pending consignments using Reference 2 as the lookup. Maximum of 10 per request  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apiv2_pending_consignments_return_pending_consignments_by_reference2_post(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] body: The Reference 2's of the pending consignments. Maximum of 10 consignments per request
        :return: PendingConsignmentV2ICollectionBaseDomainEntityV2
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.apiv2_pending_consignments_return_pending_consignments_by_reference2_post_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.apiv2_pending_consignments_return_pending_consignments_by_reference2_post_with_http_info(**kwargs)  # noqa: E501
            return data

    def apiv2_pending_consignments_return_pending_consignments_by_reference2_post_with_http_info(self, **kwargs):  # noqa: E501
        """Get Pending Consignment Details for multiple pending consignments using Reference 2 as the lookup. Maximum of 10 per request  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apiv2_pending_consignments_return_pending_consignments_by_reference2_post_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] body: The Reference 2's of the pending consignments. Maximum of 10 consignments per request
        :return: PendingConsignmentV2ICollectionBaseDomainEntityV2
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method apiv2_pending_consignments_return_pending_consignments_by_reference2_post" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['User API Token']  # noqa: E501

        return self.api_client.call_api(
            '/apiv2/pendingConsignments/returnPendingConsignmentsByReference2', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PendingConsignmentV2ICollectionBaseDomainEntityV2',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def apiv2_pending_consignments_return_pending_consignments_post(self, **kwargs):  # noqa: E501
        """Get Pending Consignment Details for multiple pending consignments. Maximum of 10 per request  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apiv2_pending_consignments_return_pending_consignments_post(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param IdsContainer body: The Machship ids of the pending consignments. Maximum of 10 per request
        :return: PendingConsignmentV2ICollectionBaseDomainEntityV2
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.apiv2_pending_consignments_return_pending_consignments_post_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.apiv2_pending_consignments_return_pending_consignments_post_with_http_info(**kwargs)  # noqa: E501
            return data

    def apiv2_pending_consignments_return_pending_consignments_post_with_http_info(self, **kwargs):  # noqa: E501
        """Get Pending Consignment Details for multiple pending consignments. Maximum of 10 per request  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apiv2_pending_consignments_return_pending_consignments_post_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param IdsContainer body: The Machship ids of the pending consignments. Maximum of 10 per request
        :return: PendingConsignmentV2ICollectionBaseDomainEntityV2
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method apiv2_pending_consignments_return_pending_consignments_post" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['User API Token']  # noqa: E501

        return self.api_client.call_api(
            '/apiv2/pendingConsignments/returnPendingConsignments', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PendingConsignmentV2ICollectionBaseDomainEntityV2',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
